<div class="row" style="margin: 0 0 0 30px;">

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="display:none">
        <a data-toggle="modal" data-target="#frp_auth">
            <img src="/static/pic/frp_auth.png" class="icon_style"/>
            <div>FRP访问权限获取</div>
        </a>
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a data-toggle="modal" data-target="#export_inside_modal">
            <img src="/static/pic/excel.png" class="icon_style"/>
            <div>场内记录导出工具(V3)</div>
        </a>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="display:inline">
        <a data-toggle="modal" data-target="#db_dumps_reset">
            <img src="/static/pic/db_dumps.png" class="icon_style"/>
            <div>数据库备份与还原(V3)</div>
        </a>
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="display:inline">
        <a data-toggle="modal" data-target="#auth_time_bug">
            <img src="/static/pic/auth_time.png" class="icon_style"/>
            <div>授权期限BUG修正(V3)</div>
        </a>
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="display:inline">
        <a data-toggle="modal" data-target="#abnormal_inourt_num">
            <img src="/static/pic/abnormal.png" class="icon_style"/>
            <div>异常进出车数目修改(V3)</div>
        </a>
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="display:inline">
        <a data-toggle="modal" data-target="#file_upload">
            <img src="/static/pic/upload_file.png" class="icon_style"/>
            <div>文件上传</div>
        </a>
    </div>

</div>